h3, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #444;
    text-decoration: none;
    outline: none;
}

.galbox {
    width: 795px;
    height: 230px;
    border: 1px solid #dddcdc;
}

.pertitl {
    background: url(../images/titlbg.png) no-repeat 0 -70px;
    color: #fff;
    padding-left: 15px;
    line-height: 34px;
    font-size: 16px;
}

.gallery {
    height: 170px;
    overflow: hidden;
    margin: 14px 0 0 15px;
}

.gallery ul li {
    width: 180px;
    height: 170px;
    float: left;
    margin-right: 15px;
}

.gallery ui.piclist li a {
    width: 170px;
    height: 133px;
    padding: 4px;
    border: 1px solid #dedddd;
    display: block;
}

.gallery ul li a img {
    width: 170px;
    height: 133px;
    display: block;
    border: 0;
}

.gallery ul li span {
    line-height: 27px;
    overflow: hidden;
    text-align: center;
    color: #2a2a2a;
    display: block;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gallery ul li a:hover {
    border: 1px solid #5abfff
}

.gallery ul li span:hover {
    color: #f60;
    text-decoration: none;
    cursor: pointer;
}