* {
    margin: 0;
    padding: 0;
}

div, form, img, p, h3, ul {
    border: 0 none;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    color: rgb(229, 255, 0);
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration-style: wavy;
}

body {
    border: 0 none;
    color: #444;
    font-family: 'Times New Roman', Times, serif,Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px;
    background: url(../images/bodybg.png) repeat 0 0 #fff;
    font-family: 'Times New Roman', Times, serif;
}

header, nav, section, article, aside, footer {
    /*border: solid 1px #666;
    padding: 10px;
    margin:  4px auto;*/
}

header {
    /*display: block;*/
    width: 100%;
    background-color: #fff;
    /*overflow: hidden;*/
}

.headbox {
    height: 102px;
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

.headnav {
    height: 23px;
    display: block;
    overflow: hidden;
    line-height: 23px;
    color: #999;
    position: absolute;
    top: 20px;
    right: 60px;
    padding-left: 0px;
}

.headnav a {
    color: #444;
    padding: 0px 3px;
}

.headnav a:hover {
    text-decoration: underline;
}

.sub_head {
    width: 220px;
    height: 23px;
    text-align: center;
    display: block;
    overflow: hidden;
    line-height: 23px;
    color: #fff;
    background: url(../images/headnavbg.png) no-repeat 0 0;
    position: absolute;
    top: 55px;
    right: 18px;
}

.sub_head a {
    color: rgb(4, 15, 4);
    padding: 0px 15px;
}

.sub_head a:hover {
    text-decoration: underline;
}

nav {
    background: url(../images/navbg.png) no-repeat center center #0884d5;
    width: 100%;
}

.navbox {
    width: 1170px;
    margin: 0 auto;
    height: 50px;
}

.navbox ul {
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.navbox li {
    float: left;
    overflow: hidden;
    padding-left: 6px;
    margin: 0;
}

.navbox li a {
    padding-left: 16px;
    font-size: 15px;
    color: mediumspringgreen;
    line-height: 28px;
    margin-top: 11px;
    float: left;
}

.navbox li a span {
    padding-right: 16px;
    display: block;
    line-height: 28px;
    font-weight: bold;
}

.navbox li a.over,.navbox li a:hover {
    background: url(../images/pagbtn.jpg) no-repeat left top;
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/navbtn.png" ,sizingMethod="noscale");
    /*IE6透明*/
}

.navbox li a.over span,.navbox li a:hover span {
    background: url(images/navbtn.png) no-repeat right top;
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/navbtn.png" ,sizingMethod="noscale");
    /*IE6透明*/
}

.navbox li.noline {
    background: none;
}