ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #666;
    text-decoration: none;
}

.news {
    width: 400px;
    margin-left: 20px;
}

.title {
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #C8484A;
}

.title h2 {
    height: 40px;
    float: left;
    font-size: 18px;
    color: rgb(105, 33, 4);
    margin: 0;
}

.news_more {
    float: right;
    height: 22px;
    padding-right: 10px;
	position: relative;
	top: -7px;
}

.news_more a {
    font-size: 14px;
    text-decoration: none;
    color: #053710;
}

.news_more_2 {
	margin-left: 67%;
	position: relative;
	top: -8px;
	left: 15px;
	color: #053710;
}

.list_one {
    min-height: 245px;
    margin-top: 10px;
    padding-left: 30px;
}

.list_one li {
    line-height: 30px;
    height: 30px;
    color: #999;
    font-size: 14px;
    padding-left: 2px;
    list-style-image: url(../images/arrow.gif);
}

.list_one li a {
    float: center;
}

.list_one li b {
    float: right;
    font-weight: normal;
    !important
}